@use "../../utils/index.scss" as *;
@use "sass:map";
$TypeMap: inject("checkbox.colors");
$DefaultMap: inject("checkbox.defaults.styled");

.checkbox {
  @include resolve(map.get($DefaultMap, "default"));
  &:focus-visible {
    @include resolve(map.get($DefaultMap, "focusVisible"));
  }
  &:checked,
  &[checked="true"],
  &[aria-checked="true"] {
    @include resolve(map.get($DefaultMap, "checked"));
  }
  &:indeterminate {
    @include resolve(map.get($DefaultMap, "indeterminate"));
  }
  @each $typeName, $map in $TypeMap {
    &#{getSelector($typeName)} {
      @include resolve(map.get($map, "default"));
      &:focus-visible {
        @include resolve(map.get($map, "focusVisible"));
      }
      &:checked,
      &[checked="true"],
      &[aria-checked="true"] {
        @include resolve(map.get($map, "checked"));
      }
    }
  }

  &:disabled {
    @include resolve(map.get($DefaultMap, "disabled"));
  }
}

@keyframes checkmark {
  0% {
    background-position-y: 5px;
  }
  50% {
    background-position-y: -2px;
  }
  100% {
    background-position-y: 0;
  }
}
