@use "../../utils/index.scss" as *;

@include spread(inject("checkbox.defaults.styled"));

@keyframes checkmark {
  0% {
    background-position-y: 5px;
  }
  50% {
    background-position-y: -2px;
  }
  100% {
    background-position-y: 0;
  }
}
