@use "../../utils/index.scss" as *;
@use "sass:map";
$TypeMap: inject("chat.colors"); // injectChatColors();
$DefaultMap: inject("chat.defaults.styled"); // map.get(injectChatDefaults(), "styled");

.chat {
  &-bubble {
    @include resolve(map.get($DefaultMap, "default"));

    @each $typeName, $map in $TypeMap {
      &#{getSelector($typeName)} {
        @include resolve(map.get($map, "default"));
      }
    }
  }

  &-start .chat-bubble {
    @apply rounded-bl-none;
    &:before {
      left: -0.749rem;
    }
  }

  &-end .chat-bubble {
    @apply rounded-br-none;
    &:before {
      left: 99.9%;
    }
  }
}
