@use "../../utils/index.scss" as *;
@use "sass:map";
$TypeMap: inject("input.colors");
$DefaultMap: inject("input.defaults.styled");
$S: inject("input.selector");

@include spread(inject("input.defaults.styled"));
