@use "../../utils/index.scss" as *;

@include spread(inject("radio.defaults.styled"));

@keyframes radiomark {
  0% {
    box-shadow:
      0 0 0 12px rgba(var(--base-400)) inset,
      0 0 0 12px rgba(var(--base-400)) inset;
  }
  50% {
    box-shadow:
      0 0 0 3px rgba(var(--base-400)) inset,
      0 0 0 3px rgba(var(--base-400)) inset;
  }
  100% {
    box-shadow:
      0 0 0 4px rgba(var(--base-400)) inset,
      0 0 0 4px rgba(var(--base-400)) inset;
  }
}
