.mp-reset-button {
  padding: 0;
  background-color: transparent;
  /* #ifndef APP-PLUS */
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  /* #endif */
  /* #ifdef APP-NVUE */
  border-width: 0;
  /* #endif */
}

/* #ifndef APP-NVUE */
.mp-reset-button::after {
  border: none;
}

/* #endif */