@use "../utils/index.scss" as *;
@use "sass:map";
$TypeMap: injectAlertColors();
$DefaultMap: map.get(injectAlertDefaults(), "styled");
.alert {
  $default: map.get($DefaultMap, "default");
  @apply #{$default};
  @each $typeName, $map in $TypeMap {
    $d: map.get($map, "default");
    &#{getSelector($typeName)} {
      @apply #{$d};
    }
  }
}
