@use "../../utils/index.scss" as *;
@use "sass:map";

$TypeMap: inject("badge.colors"); // injectBadgeColors();
$DefaultMap: inject("badge.defaults.styled"); // map.get(injectBadgeDefaults(), "styled");

.badge {
  @include resolve(map.get($DefaultMap, "default"));

  @each $typeName, $map in $TypeMap {
    $d: map.get($map, "default");
    &#{getSelector($typeName)} {
      @include resolve($d);
    }
  }

  &-ghost {
    @include resolve(map.get($DefaultMap, "ghost"));
  }

  &-outline {
    @include resolve(map.get($DefaultMap, "outline"));
    @each $typeName, $map in $TypeMap {
      $d: map.get($map, "outline");
      &#{getSelector($typeName,".badge-")} {
        @include resolve($d);
      }
    }
  }
}
