@use "../utils/index.scss" as *;
@use "sass:map";

$TypeMap: injectBadgeColors();
$DefaultMap: map.get(injectBadgeDefaults(), "styled");

.badge {
  @apply rounded-badge border;
  $default: map.get($DefaultMap, "default");
  @apply #{$default};
  @each $typeName, $map in $TypeMap {
    $d: map.get($map, "default");
    &#{getSelector($typeName)} {
      @apply #{$d};
    }
  }

  &-ghost {
    @apply border-base-200 bg-base-200 text-base-content;
  }

  &-outline {
    $outline: map.get($DefaultMap, "outline");
    @apply #{$outline};
    @each $typeName, $map in $TypeMap {
      $d: map.get($map, "outline");
      &#{getSelector($typeName,".badge-")} {
        @apply #{$d};
      }
    }
  }
}
