@use "../../utils/index.scss" as *;
@use "sass:map";
@use "sass:meta";

$TypeMap: inject("button.colors");
$DefaultMap: inject("button.defaults.styled");
//Mixins may not contain mixin declarations.
@mixin button-active($applyStr, $pseudo: "active", $withoutMedia: false) {
  @if ($withoutMedia) {
    &:#{$pseudo} {
      @include resolve($applyStr);
    }
  } @else {
    @if ($pseudo == "hover") {
      @include AtMediaHover {
        &:hover {
          @include resolve($applyStr);
        }
      }
    } @else {
      &:#{$pseudo} {
        @include resolve($applyStr);
      }
    }
  }

  &.btn-active {
    @include resolve($applyStr);
  }
}

.btn {
  $default: map.get($DefaultMap, "default");
  $focus: map.get($DefaultMap, "focusVisible");
  $active: map.get($DefaultMap, "active");
  &:focus-visible {
    @include resolve($focus);
  }

  @include resolve($default);
  @include button-active($active);

  @each $typeName, $map in $TypeMap {
    $d: map.get($map, "default");
    $a: map.get($map, "active");

    $selector: getSelector($typeName);

    &#{$selector} {
      @include resolve($d);
      @include button-active($a);
    }
  }

  $vars: (
    "&.glass": "glass",
    "&-ghost": "ghost",
    "&-link": "link"
  );
  @each $s, $t in $vars {
    #{$s} {
      @include resolve(map.get($DefaultMap, $t));
      @include button-active(map.get($DefaultMap, "#{$t}Active"));
    }
  }

  &-outline {
    @include resolve(map.get($DefaultMap, "outline"));

    $outlineActive: map.get($DefaultMap, "outlineActive");
    @include button-active($outlineActive);
    @each $typeName, $map in $TypeMap {
      $d: map.get($map, "default");
      $a: map.get($map, "outlineActive");
      $o: map.get($map, "outline");
      $selector: getSelector($typeName, ".btn-");

      &#{$selector} {
        @include resolve($o);
        @include button-active($a);
      }
    }
  }

  &.btn-disabled,
  &[disabled],
  &:disabled {
    @include resolve(map.get($DefaultMap, "disabled"));
  }
}
$InputTypeMap: map.get($DefaultMap, "inputType");
// for input element
.btn:is(input[type="checkbox"]:checked),
.btn:is(input[type="radio"]:checked) {
  @include resolve(map.get($InputTypeMap, "default"));
  &:active {
    @include resolve(map.get($InputTypeMap, "active"));
  }
  &:focus-visible {
    @include resolve(map.get($InputTypeMap, "focusVisible"));
  }
}
