@use "../utils/index.scss" as *;
@use "sass:map";

$TypeMap: injectButtonColors();
$DefaultMap: map.get(injectButtonDefaults(), "styled");
//Mixins may not contain mixin declarations.
@mixin button-active($applyStr, $pseudo: "active", $withoutMedia: false) {
  @if ($withoutMedia) {
    &:#{$pseudo} {
      @apply #{$applyStr};
    }
  } @else {
    @if ($pseudo == "hover") {
      @media (hover: hover) {
        &:hover {
          @apply #{$applyStr};
        }
      }
    } @else {
      &:#{$pseudo} {
        @apply #{$applyStr};
      }
    }
  }

  &.btn-active {
    @apply #{$applyStr};
  }
}

.btn {
  @apply no-underline; // @apply gap-2 font-semibold no-underline;
  border-width: var(--border-btn, 1px);
  &:focus-visible {
    @apply outline outline-2 outline-offset-2;
  }
  $default: map.get($DefaultMap, "default");
  $active: map.get($DefaultMap, "active");
  @apply #{$default};
  @include button-active($active);

  @each $typeName, $map in $TypeMap {
    $d: map.get($map, "default");
    $a: map.get($map, "active");

    $selector: getSelector($typeName);

    &#{$selector} {
      @apply #{$d};
      @include button-active($a);
    }
  }

  &.glass {
    @apply #{map.get($DefaultMap, "glass")};

    &:active {
      --glass-opacity: 25%;
      --glass-border-opacity: 15%;
    }

    &.btn-active {
      --glass-opacity: 25%;
      --glass-border-opacity: 15%;
    }
  }

  &-ghost {
    @apply #{map.get($DefaultMap, "ghost")};
    @include button-active(#{map.get($DefaultMap, "ghostActive")});
  }

  &-link {
    @apply #{map.get($DefaultMap, "link")};
    @include button-active(#{map.get($DefaultMap, "linkActive")});
  }

  &-outline {
    $outline: map.get($DefaultMap, "outline");
    @apply #{$outline};

    $outlineActive: map.get($DefaultMap, "outlineActive");
    @include button-active($outlineActive);
    @each $typeName, $map in $TypeMap {
      $d: map.get($map, "default");
      $a: map.get($map, "outlineActive");
      $o: map.get($map, "outline");
      $selector: getSelector($typeName, ".btn-");

      &#{$selector} {
        @apply #{$o};
        @include button-active($a);
      }
    }
  }

  &.btn-disabled,
  &[disabled],
  &:disabled {
    @apply #{map.get($DefaultMap, "disabled")};
  }
}

// fallback
.btn:is(input[type="checkbox"]:checked),
.btn:is(input[type="radio"]:checked) {
  @apply border-primary bg-primary text-primary-content;
  &:active {
    @apply border-primary-focus bg-primary-focus;
  }
  &:focus-visible {
    @apply outline-primary;
  }
}
