@use "../utils/index.scss" as *;
@use "sass:map";
$TypeMap: injectChatColors();

.chat {
  &-bubble {
    @apply rounded-box;
    min-height: 2.75rem;
    min-width: 2.75rem;

    @each $typeName, $map in $TypeMap {
      $d: map.get($map, "default");
      &#{getSelector($typeName)} {
        @apply #{$d};
      }
    }
  }

  &-start .chat-bubble {
    @apply rounded-bl-none;
    &:before {
      left: -0.749rem;
    }
  }

  &-end .chat-bubble {
    @apply rounded-br-none;
    &:before {
      left: 99.9%;
    }
  }
}
