@use "../../utils/index.scss" as *;
@use "sass:map";
$TypeMap: inject("checkbox.colors");

.checkbox {
  @apply border-base-content rounded-btn h-6 w-6 cursor-pointer appearance-none border border-opacity-20;
  &:focus-visible {
    @apply outline-base-content outline outline-2 outline-offset-2;
  }
  &:checked,
  &[checked="true"],
  &[aria-checked="true"] {
    @apply bg-base-content bg-no-repeat;
    animation: checkmark var(--animation-input, 0.2s) ease-out;
  }
  &:indeterminate {
    @apply bg-base-content bg-no-repeat;
    animation: checkmark var(--animation-input, 0.2s) ease-out;
  }
  @each $typeName, $map in $TypeMap {
    &#{getSelector($typeName)} {
      @include resolve(map.get($map, "default"));
      &:focus-visible {
        @include resolve(map.get($map, "focusVisible"));
      }
      &:checked,
      &[checked="true"],
      &[aria-checked="true"] {
        @include map.get($map, "checked");
      }
    }
  }

  &:disabled {
    @apply bg-base-content cursor-not-allowed border-transparent opacity-20;
  }
}

@keyframes checkmark {
  0% {
    background-position-y: 5px;
  }
  50% {
    background-position-y: -2px;
  }
  100% {
    background-position-y: 0;
  }
}

.checkbox-mark {
  @apply hidden;
}
