.checkbox {
  @apply border-base-content rounded-btn h-6 w-6 cursor-pointer appearance-none border border-opacity-20;
  &:focus-visible {
    @apply outline-base-content outline outline-2 outline-offset-2;
  }
  &:checked,
  &[checked="true"],
  &[aria-checked="true"] {
    @apply bg-base-content bg-no-repeat;
    animation: checkmark var(--animation-input, 0.2s) ease-out;
  }
  &:indeterminate {
    @apply bg-base-content bg-no-repeat;
    animation: checkmark var(--animation-input, 0.2s) ease-out;
  }
  &-primary {
    @apply border-primary [@media(hover:hover)]:hover:border-primary;
    &:focus-visible {
      @apply outline-primary;
    }
    &:checked,
    &[checked="true"],
    &[aria-checked="true"] {
      @apply border-primary bg-primary text-primary-content;
    }
  }

  &-success {
    @apply border-success [@media(hover:hover)]:hover:border-success;
    &:focus-visible {
      @apply outline-success;
    }
    &:checked,
    &[checked="true"],
    &[aria-checked="true"] {
      @apply border-success bg-success text-success-content;
    }
  }
  &-warning {
    @apply border-warning [@media(hover:hover)]:hover:border-warning;
    &:focus-visible {
      @apply outline-warning;
    }
    &:checked,
    &[checked="true"],
    &[aria-checked="true"] {
      @apply border-warning bg-warning text-warning-content;
    }
  }
  &-info {
    @apply border-info [@media(hover:hover)]:hover:border-info;
    &:focus-visible {
      @apply outline-info;
    }
    &:checked,
    &[checked="true"],
    &[aria-checked="true"] {
      @apply border-info bg-info text-info-content;
    }
  }
  &-error {
    @apply border-error [@media(hover:hover)]:hover:border-error;
    &:focus-visible {
      @apply outline-error;
    }
    &:checked,
    &[checked="true"],
    &[aria-checked="true"] {
      @apply border-error bg-error text-error-content;
    }
  }
  &:disabled {
    @apply bg-base-content cursor-not-allowed border-transparent opacity-20;
  }
}

@keyframes checkmark {
  0% {
    background-position-y: 5px;
  }
  50% {
    background-position-y: -2px;
  }
  100% {
    background-position-y: 0;
  }
}

/* backward compatibility */
.checkbox-mark {
  @apply hidden;
}
