@use "../../utils/index.scss" as *;
@use "sass:map";
$TypeMap: injectFileInputColors();

.file-input {
  @apply border-base-content bg-base-100 rounded-btn overflow-hidden border border-opacity-0 text-base;
  &::file-selector-button {
    border-style: solid;
    @apply border-neutral bg-neutral text-neutral-content font-semibold uppercase no-underline;
    border-width: var(--border-btn, 1px);
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
    text-transform: var(--btn-text-case, uppercase);
  }
  &-bordered {
    @apply border-opacity-20;
  }
  &:focus {
    @apply outline-base-content/20 outline outline-2 outline-offset-2;
  }
  &-ghost {
    @apply bg-opacity-5;
    &:focus {
      @apply text-base-content bg-opacity-100;
      box-shadow: none;
    }
    &::file-selector-button {
      @apply border border-transparent bg-transparent text-current;
    }
  }

  @each $typeName, $map in $TypeMap {
    $d: map.get($map, "default");
    $f: map.get($map, "focus");
    $fsb: map.get($map, "fileSelectorButton");
    &#{getSelector($typeName)} {
      @apply #{$d};
      &:focus {
        @apply #{$f};
      }
      // fileSelectorButton
      &::file-selector-button {
        @apply #{$fsb};
      }
    }
  }

  &-disabled,
  &[disabled] {
    @apply border-base-200 bg-base-200 placeholder-base-content cursor-not-allowed text-opacity-20 placeholder-opacity-20;
    &::file-selector-button {
      @apply bg-neutral text-base-content border-opacity-0 bg-opacity-20 text-opacity-20;
    }
  }
}
