@use "../utils/index.scss" as *;
@use "sass:map";
$TypeMap: injectInputColors();

.input {
  @apply border-base-content bg-base-100 rounded-btn border border-opacity-0 text-base;
  input:focus {
    @apply outline-none;
  }
  &[list]::-webkit-calendar-picker-indicator {
    line-height: 1em;
  }
  &-bordered {
    @apply border-opacity-20;
  }
  &:focus,
  &:focus-within {
    @apply outline-base-content/20 outline outline-2 outline-offset-2;
  }
  &-ghost {
    @apply bg-opacity-5;
    &:focus,
    &:focus-within {
      @apply text-base-content bg-opacity-100;
      box-shadow: none;
    }
  }

  @each $typeName, $map in $TypeMap {
    // $d: map.get($map, "default");
    &#{getSelector($typeName)} {
      // #{$typeName}
      @apply border-#{$typeName};
      &:focus,
      &:focus-within {
        @apply outline-#{$typeName};
      }
    }
  }

  &-disabled,
  &:disabled,
  &[disabled] {
    @apply border-base-200 bg-base-200 placeholder-base-content cursor-not-allowed text-opacity-20 placeholder-opacity-20;
  }
  /* &::-webkit-calendar-picker-indicator {
    display: none;
  } */
}
