@use "../../utils/index.scss" as *;
@use "sass:map";
$TypeMap: inject("progress.colors");

.progress {
  @apply rounded-box bg-base-content/20 h-2;

  &::-moz-progress-bar {
    @apply bg-base-content rounded-box;
  }

  @each $typeName, $map in $TypeMap {
    &#{getSelector($typeName)}::-moz-progress-bar {
      @apply bg-#{$typeName} rounded-box;
    }
  }

  &::-webkit-progress-bar {
    @apply rounded-box bg-transparent;
  }
  &::-webkit-progress-value {
    @apply bg-base-content rounded-box;
  }

  @each $typeName, $map in $TypeMap {
    &#{getSelector($typeName)}::-webkit-progress-value {
      @include resolve(map.get($map, "default"));
    }
  }
}

.progress:indeterminate {
  background-image: repeating-linear-gradient(
    90deg,
    var(--progress-color) -1%,
    var(--progress-color) 10%,
    transparent 10%,
    transparent 90%
  );
  background-size: 200%;
  background-position-x: 15%;
  animation: progress-loading 5s ease-in-out infinite;
}
.progress:indeterminate::-moz-progress-bar {
  @apply bg-transparent;
  background-image: repeating-linear-gradient(
    90deg,
    var(--progress-color) -1%,
    var(--progress-color) 10%,
    transparent 10%,
    transparent 90%
  );
  background-size: 200%;
  background-position-x: 15%;
  animation: progress-loading 5s ease-in-out infinite;
}

@keyframes progress-loading {
  50% {
    background-position-x: -115%;
  }
}
