@use "../../utils/index.scss" as *;
@use "sass:map";
$TypeMap: inject("range.colors");
$DefaultMap: inject("range.defaults.styled");

.range {
  appearance: none;
  --range-shdw: var(--base-content);
  @apply rounded-box overflow-hidden bg-transparent;
  &:focus-visible::-webkit-slider-thumb {
    --focus-shadow: 0 0 0 6px rgba(var(--base-100)) inset, 0 0 0 2rem rgba(var(--range-shdw)) inset;
  }
  &:focus-visible::-moz-range-thumb {
    --focus-shadow: 0 0 0 6px rgba(var(--base-100)) inset, 0 0 0 2rem rgba(var(--range-shdw)) inset;
  }
  &::-webkit-slider-runnable-track {
    @apply rounded-box bg-base-content/10 h-2 w-full;
  }
  &::-moz-range-track {
    @apply rounded-box bg-base-content/10 h-2 w-full;
  }
  &::-webkit-slider-thumb {
    @apply rounded-box bg-base-100 relative h-6 w-6 border-none;
    appearance: none;
    top: 50%;
    color: rgba(var(--range-shdw));
    transform: translateY(-50%);
    --filler-size: 100rem;
    --filler-offset: 0.6rem;
    box-shadow:
      0 0 0 3px rgba(var(--range-shdw)) inset,
      var(--focus-shadow, 0 0),
      calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size);
  }
  &::-moz-range-thumb {
    @apply rounded-box bg-base-100 relative h-6 w-6 border-none;
    top: 50%;
    color: rgba(var(--range-shdw));
    --filler-size: 100rem;
    --filler-offset: 0.5rem;
    box-shadow:
      0 0 0 3px rgba(var(--range-shdw)) inset,
      var(--focus-shadow, 0 0),
      calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size);
  }

  @each $typeName, $map in $TypeMap {
    &#{getSelector($typeName)} {
      @include resolve(map.get($map, "default"));
    }
  }
}
