@use "../../utils/index.scss" as *;
@use "sass:map";
$TypeMap: inject("select.colors");
$DefaultMap: inject("select.defaults.styled");

.select {
  @include resolve(map.get($DefaultMap, "default"));
  &-bordered {
    @include resolve(map.get($DefaultMap, "bordered"));
  }
  &:focus {
    @include resolve(map.get($DefaultMap, "focus"));
  }
  &-ghost {
    @include resolve(map.get($DefaultMap, "ghost"));
    &:focus {
      @include resolve(map.get($DefaultMap, "ghostFocus"));
    }
  }

  @each $typeName, $map in $TypeMap {
    &#{getSelector($typeName)} {
      @include resolve(map.get($map, "default"));
      &:focus {
        @include resolve(map.get($map, "focus"));
      }
    }
  }

  &-disabled,
  &:disabled,
  &[disabled] {
    @include resolve(map.get($DefaultMap, "disabled"));
  }
  &-multiple,
  &[multiple],
  &[size]:not([size="1"]) {
    @include resolve(map.get($DefaultMap, "multiple"));
  }
}

[dir="rtl"] .select {
  background-position:
    calc(0% + 12px) calc(1px + 50%),
    calc(0% + 16px) calc(1px + 50%);
}
