@use "../../utils/index.scss" as *;
@use "sass:map";

$TypeMap: inject("textarea.colors");

.textarea {
  @apply border-base-content bg-base-100 rounded-btn border border-opacity-0;
  &-bordered {
    @apply border-opacity-20;
  }
  &:focus {
    @apply outline-base-content/20 outline outline-2 outline-offset-2;
  }
  &-ghost {
    @apply bg-opacity-5;
    &:focus {
      @apply text-base-content bg-opacity-100;
      box-shadow: none;
    }
  }

  @each $typeName, $map in $TypeMap {
    $d: map.get($map, "default");
    $f: map.get($map, "focus");
    &#{getSelector($typeName)} {
      @apply #{$d};
      &:focus {
        @apply #{$f};
      }
    }
  }

  &-disabled,
  &:disabled,
  &[disabled] {
    @apply border-base-200 bg-base-200 placeholder-base-content cursor-not-allowed text-opacity-20 placeholder-opacity-20;
  }
}
