$root-vars: (
  --primary-color: #ffffff,
  --primary: #1989fa,
  --success-color: #ffffff,
  --success: #07c160,
  --error-color: #ffffff,
  --error: #ee0a24,
  --warning-color: #ffffff,
  --warning: #ff976a
);
