$root-vars: (
  --primary-content: #ffffff,
  --primary: #1989fa,
  --success-content: #ffffff,
  --success: #07c160,
  --error-content: #ffffff,
  --error: #ee0a24,
  --warning-content: #ffffff,
  --warning: #ff976a
);

