// 统一加变量前缀

$root-vars: (
  --primary: #1677ff,
  // --primary-selected: #e6f4ff,
  --primary-focus: #4096ff,
  // --primary-click: #0958d9,
  --primary-content: #ffffff,
  // ---
  --success-content: #ffffff,
  --success: #07c160,
  --success-focus: #73d13d,

  --error-content: #ffffff,
  --error: #ee0a24,
  --error-focus: #ff4d4f,

  --warning-content: #ffffff,
  --warning: #ff976a,
  --warning-focus: #ffc53d,

  --info: #1677ff,
  --info-content: #ffffff,
  --info-focus: #4096ff,

  --neutral: rgb(43, 52, 64),
  --neutral-content: rgb(216, 221, 228),
  --neutral-focus: rgb(36, 43, 51),
  // --- Neutral Color Start ---
  // 900
  --heading-text: #171717,
  // 700
  --text-100: #171717,
  --text-200: #404040,

  --base-100: #ffffff,
  --base-200: rgb(242, 242, 242),
  --base-300: rgb(229, 230, 230),
  --base-content: rgb(31, 41, 55),
  --disabled-text: #00000040,
  --default-border: #d9d9d9,
  --separator: #0505050f,
  --layout-background: #f5f5f5,
  // ---
  --rounded-box: 1rem,
  --rounded-btn: 0.5rem,
  --rounded-badge: 1.9rem,
  --animation-btn: 0.25s,
  --animation-input: 0.2s,
  --btn-text-case: uppercase,
  --btn-focus-scale: 0.95,
  --border-btn: 1px,
  --tab-border: 1px,
  --tab-radius: 0.5rem
);

// $dark-root-vars: (
//   --primary: #1668dc,
//   // --primary-selected: #111a2c,
//   --primary-focus: #1554ad,
//   // --primary-click: #3c89e8,
//   --primary-content: #ffffff,
//   // ---
//   --success-content: #ffffff,
//   --success: #49aa19,
//   --error-content: #ffffff,
//   --error: #d32029,
//   --warning-content: #ffffff,
//   --warning: #d89614,

//   --info: #1668dc,
//   --info-content: #ffffff,

//   --neutral: rgb(42, 50, 60),
//   --neutral-content: rgb(166, 173, 186),
//   // --- Neutral Color Start ---
//   --heading-text: #e5e5e5,
//   --text-100: #e5e5e5,
//   // 400
//   --text-200: #a3a3a3,

//   --base-100: rgb(29, 35, 42),
//   --base-200: rgb(25, 30, 36),
//   --base-300: rgb(21, 25, 30),
//   --base-content: rgb(166, 173, 186),
//   --disabled-text: #ffffff40,
//   --default-border: #424242,
//   --separator: #fdfdfd1f,
//   --layout-background: #000000,

//   --rounded-box: 1rem,
//   --rounded-btn: 0.5rem,
//   --rounded-badge: 1.9rem,
//   --animation-btn: 0.25s,
//   --animation-input: 0.2s,
//   --btn-text-case: uppercase,
//   --btn-focus-scale: 0.95,
//   --border-btn: 1px,
//   --tab-border: 1px,
//   --tab-radius: 0.5rem
// );
