@use "../../utils/index.scss" as *;
@use "sass:map";
$TypeMap: inject("range.colors");
$DefaultMap: inject("range.defaults.styled");
$S: inject("range.selector");
#{$S} {
  @include resolve(map.get($DefaultMap, "default"));

  &:focus-visible::-webkit-slider-thumb {
    @include resolve(map.get($DefaultMap, "focusVisibleSliderThumb"));
  }
  &:focus-visible::-moz-range-thumb {
    @include resolve(map.get($DefaultMap, "focusVisibleMozRangeThumb"));
  }
  &::-webkit-slider-runnable-track {
    @include resolve(map.get($DefaultMap, "sliderRunnableTrack"));
  }
  &::-moz-range-track {
    @include resolve(map.get($DefaultMap, "mozRangeTrack"));
  }
  &::-webkit-slider-thumb {
    @include resolve(map.get($DefaultMap, "sliderThumb"));
  }
  &::-moz-range-thumb {
    @include resolve(map.get($DefaultMap, "mozRangeThumb"));
  }

  @each $typeName, $map in $TypeMap {
    &#{getSelector($typeName)} {
      @include resolve(map.get($map, "default"));
    }
  }
}
