.checkbox .wx-checkbox-input {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}
// /*checkbox选中后样式  */
// .checkbox .wx-checkbox-input.wx-checkbox-input-checked {
//   background: #0394f0;
//   border-color: #0394f0;
// }
/*checkbox选中后图标样式  */
.checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 1rem;
  // text-align: center;
  // color: #fff;
  // background: transparent;
  // transform: translate(-50%, -50%) scale(1);
  // -webkit-transform: translate(-50%, -50%) scale(1);
}
