radio .wx-radio-input {
  border-radius: 50%;

  width: 20px;
  height: 20px;
}
radio .wx-radio-input.wx-radio-input-checked {
  border-color: #f0302f !important;
  background: #f0302f !important;
}
radio .wx-radio-input.wx-radio-input-checked::before {
  border-radius: 50%;

  width: 20px;

  height: 20px;

  line-height: 20px;

  text-align: center;

  font-size: 15px;

  color: #fff;

  background: transparent;

  transform: translate(-50%, -50%) scale(1);

  -webkit-transform: translate(-50%, -50%) scale(1);
}
