@use "../../utils/index.scss" as *;
@use "sass:map";
@include spread(inject("textarea.defaults.styled"));
$TypeMap: inject("textarea.colors");
$DefaultMap: inject("textarea.defaults.styled");
$S: inject("textarea.selector");
